In [ ]:
#Intro to LIST data type
A list is collection of items in a particular order
it is denoted by   []
a list is an mutable data type(we cqn modify,alter data and reassign)

In [1]:
stu=['shreyas','chandra','sudha','sindhu','chaitra']
print(stu)

['shreyas', 'chandra', 'sudha', 'sindhu', 'chaitra']

In [2]:
#how to validate and verify
type(stu)

list

In [ ]:
#intro to indexing
where exactly the indexing will start from ........0,1,2,3
#how to accesa element in a list

In [3]:
#1. to access chaitra in the output
print(stu[4])

chaitra

In [5]:
#2 to access shreyas in the o/p
print(stu[0])

shreyas

In [ ]:
#negative indexing
-1,-2,-3
using negative indexing access chaitra

In [6]:
print(stu[-1])

chaitra

In [7]:
#negative index access shreyas
print(stu[-5])

shreyas

In [8]:
#code enhancement
print(stu[-5].title())

Shreyas

In [10]:
print(stu[-5].upper())

SHREYAS

In [11]:
my_det=['raj','ram','sam','dia','ria']
print(my_det)

['raj', 'ram', 'sam', 'dia', 'ria']

In [12]:
type(my_det)

list

In [13]:
#changing , adding, removing elements in the list
#to change ram to sita
my_det[1]='sita'   #allocated the index to change the name from ram to sita

In [14]:
print(my_det)

['raj', 'sita', 'sam', 'dia', 'ria']

In [15]:
#adding elements to the list
my_det.append('rita')   # will be added at the end of the list
print(my_det)

['raj', 'sita', 'sam', 'dia', 'ria', 'rita']

In [16]:
# insert a element  to list
my_det.insert(0,'shreyas')
print(my_det)

['shreyas', 'raj', 'sita', 'sam', 'dia', 'ria', 'rita']

In [17]:
my_det.insert(1,'chaitra')
print(my_det)

['shreyas', 'chaitra', 'raj', 'sita', 'sam', 'dia', 'ria', 'rita']