In [1]:
data=['shreyas','chaitra','sudha','chandra','sindhu']
print(data)

['shreyas', 'chaitra', 'sudha', 'chandra', 'sindhu']

In [2]:
#to find the length of the list
len(data)

5

In [ ]:
#indtroduction  to FOR loops
#FOR loop, are those which will be incuring under itself
#Syntax for FOR loop  
        for tempvar in mainvar:
            print(tempvar)
  #Terminologies in the FOR loop
#Mainvar is the name of the list
#tempvar is name of temporary variable created to store the list data
#creating indentation  --- > is the format in the FOR loop where the print/statements needs to a tab space after the FOR loop
# indentation is very important

In [3]:
#examples of FOR loop
#case1
for abc in data:
    print(abc)

shreyas
chaitra
sudha
chandra
sindhu

In [4]:
#case 2  by using another temp var
for temp in data:
    print(temp)

shreyas
chaitra
sudha
chandra
sindhu

In [9]:
#Enhancement of code
#sending the message to each member in the list
#using the f string we can achieve the above req.

In [12]:
for display in data:
    print(f"{display} , good job!!!keep it up")
    print("\ncontinue the momentum\n")

shreyas , good job!!!keep it up

continue the momentum

chaitra , good job!!!keep it up

continue the momentum

sudha , good job!!!keep it up

continue the momentum

chandra , good job!!!keep it up

continue the momentum

sindhu , good job!!!keep it up

continue the momentum

In [ ]:
#Numerical list using FOR  loop
# using the built in method range()
# Syntax of range()
        # range(start value ,end value)

In [13]:
for value in range(1,10):    #in the range(), the last value will be excluded.
    print(value)

1
2
3
4
5
6
7
8
9

In [14]:
for value in range(1,20):    #in the range(), the last value will be excluded.
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [15]:
number=list(range(1,6))
print(number)      #the last value will be excluded

[1, 2, 3, 4, 5]

In [17]:
#need to print only even number from 1  to 50     --- >  important
even=list(range(2,50,2))        #range(start value , end value , step count),
                                #2 is added as the even number will start from 2 
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [18]:
#need to print only odd number from 1  to 50     --- >  important
odd=list(range(3,50,2))
print(odd)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [19]:
#simple stastics with a list of numbers
print(odd)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [20]:
#get the minimum value in the list
min(odd)              #minimum value in the list will be displayed

3

In [21]:
#get the maximum value in the list
max(odd)

49

In [22]:
#to find the sum of the list
sum(odd)

624

In [24]:
sum(even)

600

In [25]:
#Slicing of list
val=['chaitra','shreyas','guru','sindhu','chandra','sudha']
print(val)

['chaitra', 'shreyas', 'guru', 'sindhu', 'chandra', 'sudha']

In [27]:
type(val)

list

In [32]:
print(val)

['chaitra', 'shreyas', 'guru', 'sindhu', 'chandra', 'sudha']

In [40]:
# access the first 2 values in the list.
print(val[0:2])                #for slicing, the last value will be excluded hence consider one value addition to the required.

['chaitra', 'shreyas']

In [41]:
print(val[0:1]) # the index specified is to access 2 elements in the list, but the output is seen for the first element only,
                #as the last value is excluded, hence we need to required range+1 to access the required elements.

['chaitra']